// Include DMS keybind overrides (percorso relativo corretto)
include "dms/binds.kdl"

config-notification {
    disable-failed
}

gestures {
    hot-corners {
        off
    }
}

input {
    keyboard {
        xkb {
        }
        numlock
    }
    touchpad {
        tap
        natural-scroll
    }
    mouse {
    }
}

include "dms/outputs.kdl"

include "dms/cursor.kdl"

include "dms/windowrules.kdl"
